header{
    height: 93vh;
   padding-top: 1rem;
    overflow: hidden;
}

.header_container{
    text-align: center;

   height: 50%;

 /*  position:relative;*/
  
  /* left: calc(8% - 6rem);*/
    text-align: center;
    bottom: 10rem;

}

/* ================== CTA ================== */
.cta{
  margin-top: -3rem;
   display:flex;
    gap: 2rem;
    justify-content: center;
}


/* ================== HEADER SOCIALS ================== */
.header__socials{
    margin-top: -15rem;
    margin-left: 12em;
    margin-bottom: 10rem;

    display:grid;
    font-size: 30px;

    flex-direction:column;
    align-items:center;
    left: calc(30% - 5rem);
    gap: 0rem;
   /* position: absolute;*/

    bottom: 2rem;
    align-content: stretch;
    justify-items: stretch;
    justify-content: center;
}
/*.header__socials::after {
    content: "";
    width: 1px;
    height: 2rem;
    background-color: var(--color-primary);
}*/

/* ================== HEADER SOCIALS ================== */
.me{
    background: linear-gradient(var(--color-primary), transparent);
    width: 15em;
    height: 17em;
    margin-left: 0em;
    position: relative;
    align-items:center;
   left: calc(30% - 1rem);
    margin-top: 2rem;
    border-radius: 1rem 1rem 1rem 1rem;
    overflow: hidden;
    padding: 1rem 1rem 1rem 1rem;
}

/* ================== HEADER SOCIALS ================== */
.scroll__down{
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
}

/* -------------------- MEDIA QUERIES (MEDIUM DEVICES) -------------------- */

@media screen and (max-width: 1024px) {
    header {
        height: 68vh;
    }
    .header__socials,
    .scroll__down {
        display: flex;
    }
}

/* -------------------- MEDIA QUERIES (SMALL DEVICES) -------------------- */

@media screen and (max-width: 600px) {
    header {
        height: 100vh;
    }

    .header__socials,
    .scroll__down {
        display:flex;
    }
}

@media screen and (max-width: 360px) {
    header {
        height: 132vh;
    }

    .header__socials,
    .scroll__down {
        display:flex;
    }
}